* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container-bg {
    width: 100%;
  }
  .container {
    width: 1280px;
    margin: auto;
  }

  /* header section */
  header {
    padding: 10px 20px;
    background: #ffffff;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .main-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav ul {
    display: flex;
    list-style: none;
  }
  .nav ul li {
    padding: 5px 10px;
    border: none;
    display: inline-block;
    transition: all linear 0.5s;
    margin-right: 20px;
  }
  .nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 5px;
  }

  /* slider-section */
  .mySlides {
    display: none;
  }
  .mySlides img {
    vertical-align: bottom;
    width: 100%;
    height: 900px;
    object-fit: cover;
  }

  .slideshow-container {
    position: relative;
    margin: auto;
  }

  /* section */
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
  }